extends layout

block content

  .w3-container.w3-2020-mosaic-blue
    .w3-left
      h1 
        a(href='/' style="text-decoration:none") Film Log
  .w3-container
    h1 Unable to load page...
    h3=error
    p
      .w3-btn.w3-2020-mosaic-blue(style='margin: 10px 250px;')
        a(class='button', href='/films') back