extends layout

block content

  if (level=='not logged' || level=='invalid')
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3
          a(href='/signup') Sign Up
          |  |     
          a(href='/login') Login
  else 
    .w3-container.w3-2020-mosaic-blue
      .w3-left
        h1 
          a(href='/' style="text-decoration:none") Film Log
      .w3-right
        h3 
          img(src=`http://localhost:4446/user/profile_picture/${username}` style='width:50px')
          |
          |
          a(href='/profile') #{username}
          |  |        
          a(href='/logout') Logout
          | 
  .w3-container
    h1 Films
    p
      form.w3-container(action='/search' method='POST' style='margin: 10px 235px;')
        input.w3-input(type="text" name="exp" style="width:40%;")
        p
        input.w3-btn.w3-2020-mosaic-blue(type="submit" value="search")
    p
    table 
      tr
        th Title 
        th Year
      each i in films
        tr
          td
            a(href='/film/' + i._id)= i.title
          td= i.year