doctype html
html
  head
    title Film Log
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-colors-2020.css')
  style.
    h1,h3,h4,table{
      margin: 10px 250px;
    }
    img {
      border-radius: 50%;
    }
    td {
      padding-right: 100px;
    }
  body
    block content