extends layout

block content

  .w3-container.w3-2020-mosaic-blue
    .w3-left
      h1 
        a(href='/' style="text-decoration:none") Film Log

  .w3-container.w3-center
    p
    h1= message
    p
    .w3-btn.w3-2020-mosaic-blue
      a(class='button', href= ref) 
        h4 Continue exploring
